{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}
        <!-- Main Content-->
        <h1>{{mensaje}}</h1>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    <!-- Post preview-->
                    <h1 style="color:limegreen">ÚLTIMOS TITULARES</h1>
                        {% for object in publis %}
                            <div class="post-preview">  
                                <h1 class="post-title"><a href="{% url 'Detalle Publicaciones' object.id %}">{{object.titulo}}</a></h1>
                                <h4 class="autor">{{object.autor}}</h4>
                                <p class="post-subtitle">{{object.subtitulo}}</p>
                            </div>
                        {% endfor %}
                </div>            
            </div>
        </div>
        
{% endblock %}        
