{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}
        <!-- Main Content-->
        <h1>{{mensaje}}</h1>
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-5 col-lg-5 col-xl-5">
                    <!-- Post preview-->
                    <h1 style="color:limegreen">ÚLTIMOS TITULARES</h1>
                    <br><br>
                        {% for object in publis %}
                            
                            <div class="post-preview">
                                <!-- <hr/>                -->
                                <h1 class="post-title"><a href="{% url 'Detalle Publicaciones' object.slug %}">{{object.titulo}}</a></h1>
                                <p class="post-subtitle">{{object.subtitulo}}</p>
                                <img src="http://127.0.0.1:8000/PlayApp{{ object.imagen.url }}" style="max-height:100px">
                                <p class="autor">{{object.autor}} <br></p>
                                <hr/>
                            </div>
                        {% endfor %}
                </div>            
            </div>
        </div>
        
{% endblock %}        
