{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}

<body style="text-align:center">
    
    
    <form method="post">{% csrf_token %}
        
        {{ formulario.as_p}}
        
       
        <input class="btn btn-success btn-lg active" type="submit" value="Iniciar sesión">
    
    </form>
    <br>
    <p style="color:firebrick">Si no tenes un usuario create uno!</p>
    <button type="button">
        <a href="{% url 'Usuario Form' %}" class="btn btn-primary btn-lg active" role="button">Crear Usuario</a>
    </button>


</body>

{% endblock %}

