{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}

<body>
    
    
    <form action="" method="POST">{% csrf_token %}
       
           
       
        {% for campo in usuario_formulario %}
            <p>
                {{campo.label_tag}}
                {{campo}}

                {% if campo.help_text %}
                    <small style="color:darkslategray;"><br>{{campo.help_text}}</small>
                {% endif %}

                
                {% for error in campo.errors %}
                    <p style="color: firebrick;"><br>{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}    
       <input type="submit" value="Crear">
    </form>
</body>


{% endblock %}
