{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}

<body style="text-align:center">
    
    
    <form action="" method="POST">{% csrf_token %}
       
           
       
        {% for campo in  usuario_detalle%}
            <p>
                {{campo.label_tag}}
                <br>{{campo}}

                {% if campo.help_text %}
                    <small style="color:darkslategray;"><br>{{campo.help_text}}</small>
                {% endif %}

                
                {% for error in campo.errors %}
                    <p style="color: firebrick;"><br>{{error}}</p>
                {% endfor %}
            </p>
        {% endfor %}    
       <input class="btn btn-success btn-lg active" type="submit" value="Guardar Cambios">
    </form>
</body>


{% endblock %}
