{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}

<h2 style="color:darkorange">ÚLTIMOS TITULARES</h2><hr>
{% for object in publis %}
    <ul>
        <h4><a href="{% url 'Detalle Publicaciones' object.id %}">{{object.titulo}}</a></h4>
        <p>{{object.nombre}}</p><hr>
    </ul>
{% endfor %}
<br><a  class="btn btn-warning btn-lg active" href="{% url 'Publicaciones Form' %}">Hacer una publicacion</a>

<form action="/PlayApp/busqueda_publicacion/" method="GET">
    <br><input type="text" name="titulo" id="titulo">
    <input type="submit" value="Buscar" span="glyphicon glyphicon-search">   
</form>



{% endblock %}

