{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}

<body style="text-align:center">

    {% if mensaje_de_confirmacion%}
        <h3 style="color: springgreen;">{{mensaje_de_confirmacion}}</h3>
    {% endif %}

   
    <form action="" method="POST" enctype="multipart/form-data">{% csrf_token %}
        <p>
            {{formulario_p.media}}
            {{formulario_p.as_p|safe}}
        </p>

        <br><br><input class="btn btn-success" type="submit" value="Publicar"> <input class="btn btn-danger" type="button" value="Volver" onclick="history.back()">
    </form>
</body>

{% endblock %}