{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}

<body style="text-align:center">

    <h2 style="color: peru;">Estos títulos pueden interesarte segun tu busqueda:</h2>
    {% if public %}

    <ol>
        {% for titulo in public %}
            <li><a href="{% url 'Detalle Publicaciones' titulo.slug %}">{{titulo.titulo}} - {{titulo.autor}} - {{titulo.fecha_publi}}</a></li>
        {% endfor %}
    </ol>
    {% endif %}

    <br><br><input class="btn btn-danger" type="button" value="Volver" onclick="history.back()">

</body>


{% endblock %}
