{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}
<body>
    
    <div class="w3-container">
        <h2>Comentarios</h2>
        <ul>
        
        {% for comentario in comentarios %}
            <li>
                <p><i>{{ comentario.comentario }}</i></p>
                <p><i>{{ comentario.nombre }} - {{ comentario.fecha }}</i></p>
                
                {% if user == comentario.nombre %}
                    <a href="{% url 'Update Comentarios' comentario.id %}">Editar</a> | 
                    <a href="{% url 'Delete Comentarios' comentario.id %}">Borrar</a>
                {% endif %}
                <hr>
                {% endfor %}
            </li>
        </ul>
        <p>
            <br><input class="btn btn-danger" type="button" value="Volver" onclick="history.back()">
        </p>
    </div>



</body>
{% endblock %}
