{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}
<body style="text-align:center">
  
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-5 col-lg-4 col-xl-4">    
          <form method="POST" class="form-signin">{% csrf_token %}
            <h1 class="h3 mb-3 font-weight-normal" style="color:green">¡<u>Cambiar contraseña</u>!</h1>
              <input name="old_password" class="form-control" placeholder="Contraseña actual" type="password" id="id_old_password" required="true">
              <input name="new_password1" class="form-control" placeholder="Nueva contraseña" type="password" id="id_new_password1" required="true">
              <input name="new_password2" class="form-control" placeholder="Confirmar nueva contraseña" type="password" id="id_new_password2" required="true">

              {% for field in form %}
                {% for error in field.errors %}
                  <p style="color: red">{{ error }}</p>
                {% endfor %}
              {% endfor %}
            <br>  
            <button class="btn btn-lg btn-success btn-block" type="submit">Modificar</button>  
          </form>
        </div>
      </div>   
    </div>     
</body>


{% endblock %}