{% extends "PlayApp/T01-view.html" %}
{% load static %}
{% block ContenidoTemplate %}

<div class="container">

	<div class="d-flex flex-column">
		<p class="m-auto p-2" style="color:aquamarine">
			¡Revisa tu casilla de correo electronico, recibiras un email con las instrucciones para restablecer tu contraseña!
		</p>
		<p class="m-auto p-2" style="color:crimson">
		    ¡En caso de no recibir el email, revisa que el email sea el correspondiente a tu usuario!
		</p>
		<p class="m-auto p-2"><a href="{% url 'Inicio' %}">Volver al Inicio</a></p>
	</div>
</div>

{% endblock %}